{% extends "base.html"%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylos.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Pajaritos</title>
    <script>
        let url='https://aves.ninjas.cl/api/birds';

        fetch(url)
            .then(response => response.json())
            .then(data => mostrarData(data))
            .catch(error => console.log(error))

        const mostrarData=(data)=>{
            console.log(data)
            let body=""
            for(var i=0; i<10; i++)
            {
                
                body+=`<tr>
                    <td>${data[i].name.spanish}</td>
                    <td> <img src="${data[i].images.thumb}"></td>
                    </tr>`
                
            }
            document.getElementById('data').innerHTML=body
        }
    </script>
</head>
<body >
    
    <h1 style="text-align: center;">Centro de ayuda para Pajaritos</h1>

    <div class="container px-4 px-lg-5 mt-5">
        <h2></h2>
        <div class="justify-content-center">
           
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre pajaro</th>
                        <th>Fotito</th>
                    </tr>
                </thead>
                <tbody id="data">

                </tbody>
            </table>
        </div>
    </div>


  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    
</body>
</html>
{% endblock %}